<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <clear/>
  <add name="conMySqlDbCSBG" connectionString="server=192.168.78.152;userid=root;password=foxlink;database=;charset=utf8" providerName="using MySql.Data.MySqlClient;"/>
    <add name="conMySqlDbASBG" connectionString="server=192.168.78.153;userid=root;password=foxlink;database=;charset=utf8" providerName="using MySql.Data.MySqlClient;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
